In [1]:
import pandas as pd
import json
import ast

In [2]:
path = 'the-movies-dataset/'

In [3]:
movies = pd.read_csv(path + 'movies_metadata.csv')
movies.head()

/opt/anaconda3/envs/truelayer/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
movies['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [6]:
movies['overview'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [7]:
keywords = pd.read_csv(path + '/keywords.csv')
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [8]:
keywords['keywords'][0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [9]:
movies['genres'] = movies['genres'].apply(lambda x: np.nan if pd.isnull(x) else ast.literal_eval(x))

In [10]:
genres = []
for m in movies['genres']:
    if m != []:
        genres.append(m[0])

In [19]:
genre_list = pd.DataFrame(genres)['name'].value_counts()
genre_list

Drama                   11966
Comedy                   8820
Action                   4489
Documentary              3415
Horror                   2619
Crime                    1685
Thriller                 1665
Adventure                1514
Romance                  1191
Animation                1124
Fantasy                   704
Science Fiction           647
Mystery                   554
Family                    524
Music                     487
Western                   451
TV Movie                  390
War                       379
History                   279
Foreign                   118
Odyssey Media               1
Aniplex                     1
Carousel Productions        1
Name: name, dtype: int64

In [22]:
genre_list = genre_list.drop('Odyssey Media')
genre_list = genre_list.drop('Aniplex')
genre_list = genre_list.drop('Carousel Productions')

In [24]:
genre_list.keys().tolist()

['Drama',
 'Comedy',
 'Action',
 'Documentary',
 'Horror',
 'Crime',
 'Thriller',
 'Adventure',
 'Romance',
 'Animation',
 'Fantasy',
 'Science Fiction',
 'Mystery',
 'Family',
 'Music',
 'Western',
 'TV Movie',
 'War',
 'History',
 'Foreign']

## Prepare groundtruth

Define DataFrame with columns 
- id
- title 
- overview
- genre: the **first** genre in the list for simplicity; if the genre is not in the list of main genres extracted, use another if available, otherwise drop

In [25]:
main_genres = genre_list.keys().tolist()

In [26]:
target = movies[['id', 'title', 'overview', 'genres']]
target.head()

,id,title,overview,genres
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"

In [ ]:
target[target['overview'].isnull()].shape

In [ ]:
# remove movies without overview
target = target[~target['overview'].isnull()]

In [39]:
def get_main_genre(g_list):
    if len(g_list) > 0:
        
        if g_list[0]['name'] in main_genres:
            return g_list[0]['name']
        else:
            return 'no main genre'
    else:
        return 'no genre'

In [40]:
target['genre'] = target['genres'].apply(lambda x: get_main_genre(x))

/opt/anaconda3/envs/truelayer/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
target['genre'].value_counts()

Drama              11966
Comedy              8820
Action              4489
Documentary         3415
Horror              2619
no genre            2442
Crime               1685
Thriller            1665
Adventure           1514
Romance             1191
Animation           1124
Fantasy              704
Science Fiction      647
Mystery              554
Family               524
Music                487
Western              451
TV Movie             390
War                  379
History              279
Foreign              118
no main genre          3
Name: genre, dtype: int64

In [42]:
# remove movies that do not have genre
final_df = target[~target['genre'].isin(['no genre', 'no main genre'])]

In [43]:
final_df.shape

(43021, 5)

In [44]:
final_df.to_csv('data.csv', index=None)